# Brevo API Configuration
# Get your API key from: https://app.brevo.com/settings/keys/api
BREVO_API_KEY=your_brevo_api_key_here

# Email Configuration
BREVO_SENDER_NAME="K-Sundo Website"
BREVO_SENDER_EMAIL="noreply@k-sundo.org"
BREVO_RECEIVER_EMAIL="hanbrandon@gmail.com,test@example.com" # Separate multiple emails with commas

# Site Configuration
NEXT_PUBLIC_SITE_URL=https://k-sundo.org
